html {
  font-family: sans-serif;
}

body,
h1,
form menu {
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template: auto 1fr / 30% 70%;
}

/* Background color gets darker when form pops up  */
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 50%);
}

header {
  grid-column: span 2;
  color: white;
  background-color: black;
}

nav {
  grid-row-start: 2;
  background-color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

form div {
  font-weight: bold;
}

textarea {
  resize: none;
}

menu {
  padding: 0;
}

/* input[type="radio"] {
  appearance: none;
} */
