html {
  font-family: sans-serif;
}

html,
button,
input,
textarea {
  box-sizing: border-box;
  font-size: 20px;
}

body,
h1,
hr,
.priority,
menu {
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template: auto 1fr / 30% 70%;
}

/* Background color gets darker when form pops up  */
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 50%);
}

header {
  grid-column: span 2;
  /* color: white;
  background-color: black; */
}

/* main > div:hover,
main > article:hover {
  background-color: pink;
} */

nav {
  grid-row-start: 2;
  background-color: rgb(240, 240, 240);
}

.projects > div {
  font-weight: bold;
}

button.form,
button.tasks {
  background-color: transparent;
  border: none;
  font-size: smaller;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.form-header {
  display: flex;
  font-weight: bold;
  /* justify-content: space-between; */
  gap: 2rem;
}

input[type="text"],
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

.priority,
menu {
  padding: 0;
}

/* input[type="radio"] {
  appearance: none;
} */

article {
  display: flex;
  gap: 15px;
}

article label {
  font-weight: bold;
}

menu {
  display: flex;
  list-style-type: none;
}

input[type="image"] {
  width: 1rem;
}
