html {
  font-family: sans-serif;
}

body,
h1 {
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template: auto 1fr / 30% 70%;
}

h1 {
  grid-column: span 2;
  color: white;
  background-color: black;
}

nav {
  grid-row-start: 2;
  background-color: lightgray;
}
